{{#section "title"}}Đăng nhập - {{/section}}

<div class="card mx-auto" style="max-width: 800px;">
  <div class="card-header text-success">
    <h5 class="mb-0">Đăng nhập</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 border-right pr-4">
        <form method="POST" id="frmLogin">
          <div class="form-group">
            <label for="txtUserName">Tên người dùng hoặc Email</label>
            <input
              type="text"
              class="form-control"
              id="txtUserName"
              name="username"
              placeholder="Tên người dùng hoặc email"
              required
            />
          </div>
          <div class="form-group">
            <label for="txtPassword">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="txtPassword"
              name="password"
              placeholder="Mật khẩu"
              required
            />
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-user"></i>
              Đăng nhập
            </button>
          </div>
          <div class="form-group text-right">
            <a href="/quenmatkhau" class="d-block">Quên mật khẩu?</a>
            <span class="text-info">Không có tài khoản? </span>
            <a href="/dangky">Đăng ký</a>
          </div>
        </form>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group mb-3">
          <a href="/auth/facebook" class="btn btn-primary btn-block">
      <i class="fab fa-facebook-f mr-2"></i>
        Đăng nhập bằng Facebook
        </a>
        </div>
        <div class="form-group">
          <a href="/auth/google" class="btn btn-danger btn-block">
            <i class="fab fa-google mr-2"></i>
            Đăng nhập bằng Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>